<p id="notice"><%= notice %></p>

<p>
  <strong>Original url:</strong>
  <%= @url.original_url %>
</p>

<p>
  <strong>Short url: </strong>
  <%= link_to shortened_full_url(@url), short_path(@url.short_url)  %>
</p>

<br>

<%= link_to 'Back', urls_path %>
